.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

.title {
    font-size: 5rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
}

.description {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .description {
        font-size: 1rem;
        margin-inline: 1rem;
    }
}

.grid {
    display: flex;
}

@media screen and (max-width: 768px) {
    .grid {
        flex-direction: column;
        align-items: center;
    }
    
}

.card {
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

.cardtitle {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: dotted underline;
    transition: all 0.3s ease;
}

.link:hover {
    text-decoration: solid underline;
}

@media screen and (max-width: 768px) {
    .link:hover {
        text-decoration: dotted underline;
    }
}

.form {
    height: 33rem;
    width: 35rem;
    background-color: #00000093; /* Front card color */
    color: #ffffff;
    border-radius: 1rem;
    border: 1px solid #fff;
    margin: 1rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .form {
        height: 100%;
        width: 90%;
        margin: 0;
        margin-bottom: 2rem;
    }
}

.formtitle {
    font-size: 2.5rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .formtitle {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

.formelement {
    width: 80%;
    margin: 0.15rem;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .formelement {
        width: 90%;
    }
}

.formlabel {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Assistant', sans-serif;
    font-style: italic;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .formlabel {
        font-size: 1.25rem;
    }
}

.smallinput, .textarea {
    color: black;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.25rem;
    transition: all 0.3s ease;
}

.smallinput:focus, .textarea:focus {
    background-color: #ccc;
}

.textarea {
    height: 10rem;
}

.submitbutton {
    width: 50%;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    transition: all 0.3s ease;
    border: 2px solid transparent;

}

.submitbutton:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.submitbutton:active {
    transform: scale(0.95);
}

@media screen and (max-width: 768px) {
    .submitbutton {
        width: 80%;
    }

    .submitbutton:hover {
        background-color: #fff;
        color: #000;
        border: 2px solid transparent;
    }
}

