.flipCard {
    perspective: 1000px;
    width: 16rem;
    height: 16rem;
    margin: 1rem;
  }
  
  .flipCardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }


  
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
  .flipCard.flipped .flipCardInner {
    transform: rotateY(180deg);
  }
  
  .flipCardFront,
  .flipCardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flipCardFront {
    background-color: #00000093; /* Front card color */
    color: #ffffff;
    border-radius: 1rem;
    border: 1px solid #fff;
  } 
  
  .flipCardBack {
    transform: rotateY(180deg);
    background-color: #ffffff; /* Back card color */
    color: #050505;
    border-radius: 1rem;
    border: 1px solid #000;
  }
  