.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    position: fixed !important;
    width: 100%;
    top: 0;
}



.name h1 {
    font-size: 7rem;
    font-family: 'Unbounded', sans-serif;
    font-weight: 10000;
    color: #fff;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .name h1 {
        font-size: 4rem;
    }
}

.description {
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
}

.sectionopener, .contactbutton {
    border: 2px solid #fff;
    border-radius: 6%;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-inline: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .sectionopener, .contactbutton {
        font-size: 1rem;
    }
}

.sectionopener:hover, .contactbutton:hover {
    background: #fff;
    color: #000;
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    .sectionopener:hover, .contactbutton:hover {
        background: transparent;
        color: #fff;
        font-size: 1rem;
    }
}

.sectionopener:active, .contactbutton:active, #submit:active {
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
    .sectionopener:active, .contactbutton:active, #submit:active {
        transform: scale(0.8);
    }
  
}

/* popup poppin' up effect */

.popup {
    opacity: 0;
    visibility: hidden;
    /* fix to bottom but scroll up with page */
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
    z-index: 1000;
    }
  
  .popup.active {
    opacity: 1;
    visibility: visible;
  }

/* end popup poppin' up effect */
  
  .popupcontent {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
  }

  @media screen and (max-width: 768px) {
    .popupcontent {
      margin: 0.5rem;
      padding: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    .popupcontent {
      background-color: #000;
    }
    
  }

  .popupcontent h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Assistant', sans-serif;
    text-transform: uppercase;
    color: #ffffffbb;
  }

  @media screen and (max-width: 768px) {
    .popupcontent h6 {
      font-size: 0.8rem;
    }
  }
  
  .popupcontent p {
    font-size: large;
    font-family: 'Assistant', sans-serif;
  }

  @media screen and (max-width: 768px) {
    .popupcontent p {
      font-size: 1rem;
      line-height: 130%;
    }
  }
  
  .popupcontent a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .popupcontent a:hover {
    color: #f00;
  }
  
.popupclose {
    text-decoration: dotted underline #fff;
}

.popupclose:hover {
    text-decoration: solid underline #fff;
}

@media screen and (max-width: 768px) {
    .popupclose:hover {
        text-decoration: dotted underline #fff;
    }
  }

.popuptitle {
    font-family: 'Assistant', sans-serif;
    text-transform: uppercase;
    opacity: 0.5;
}