.main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

.title {
    font-size: 5rem;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.description {
    font-size: 1.5rem;
    font-family: 'Assistant', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.belowbox {
    color: whitesmoke;
    font-family: 'Assistant', sans-serif;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}